---
import guitars from "./images/guitars.png";
import React from "react";
import Nav from "../components/Nav.jsx";
---

<div id="intro" class="flex flex-col items-center justify-center">
  <h1 class="dark-overlay text-white">Welcome to MGC</h1>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

  h1 {
    font-family: "Yeseva One", cursive;
  }

  #intro {
    min-height: 100vh;
    min-width: fit-content;
    background-image: url("./images/guitars.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 10, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
</style>
