@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
/* font-family: 'Yeseva One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */


.nav-bar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 12px;
    padding-inline: 5px;
    z-index: 1;
}

.nav-bar-home{
    position: relative;
    display: flex;
    justify-content: end;
    margin-right: 40px;
    align-items: center;
    padding-block: 12px;
    padding-inline: 5px;
    z-index: 1;
}

.nav-heading{
    font-size: 50px;
    font-family: "Yeseva One", cursive;
}

.nav-links-toggle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 9px 25px;
  color: aliceblue;
  z-index: 1;
}

.nav-links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    color: aliceblue;
    margin-top: 30px;
}

.nav-link-text{
    transition: 0.5s all ease;
}

.nav-link-text:hover{
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
}

.nav-heading{
    font-size: 35px;
    font-size: 50px;
    font-family: "Yeseva One", cursive;
}

.logo{
    height: 120px;
    cursor: pointer;
}

@media screen and (max-width: 767px)  {
    .logo {
        height: 90px;
    }
}