@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");


.nav-bar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 12px;
    padding-inline: 5px;
    background-color: #4a4a4a;
}

.nav-heading{
    font-size: 40px;
    font-family: "Yeseva One", cursive;
}

/* .logo{
    height: 120px;
} */