---
import mgclogo from "./components/images/mgclogo.png";
import Nav from "./components/Nav.jsx";
---

<div class="main-wrap">
  {(<Nav client:visible />)}

  <div id="intro" class="flex flex-col items-center justify-center">
    <div class="dark-overlay">
      <img class="logo" src={mgclogo} alt="" />
      <h1 class="text-white">Mihir Guitar Classes</h1>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

  .main-wrap {
    background-image: url("./components/images/guitars.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  h1 {
    font-family: "Yeseva One", cursive;
    font-size: 100px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .logo {
    height: 300px;
  }

  #intro {
    min-height: 100vh;
    min-width: fit-content;
  }

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(74, 74, 74, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MEDIA QUERIES */

  @media screen and (max-width: 767px) {

    .dark-overlay {
        display: flex;
        flex-direction: column;
    }


    h1 {
        font-size: 50px;
    }

    .logo {
        height: 100px;
    }
  }


</style>
